.scene-bar{
    -fx-background-color: #2B2D30;
    -fx-effect: dropshadow(three-pass-box, black, 10, 0, 0, 0);
    -fx-background-radius: 10;
    -fx-background-insets: 5;
}

.scene-bar-title{
    -fx-background-color: #2B2D30;
    -fx-background-radius: 10 10 0 0;
}

.scene-bar-title > .split-pane-divider {
    -fx-padding: 0 ; /* 0 3 0 3 */
}


.scene-bar-title-left{


}
.scene-bar-title-left .icon{
    -fx-shape: "M682.666667 384V298.666667h-170.666667v234.666666c-17.92-13.226667-39.68-21.333333-64-21.333333A106.666667 106.666667 0 0 0 341.333333 618.666667a106.666667 106.666667 0 0 0 106.666667 106.666666 106.666667 106.666667 0 0 0 106.666667-106.666666V384h128m-170.666667-298.666667a426.666667 426.666667 0 0 1 426.666667 426.666667 426.666667 426.666667 0 0 1-426.666667 426.666667A426.666667 426.666667 0 0 1 85.333333 512 426.666667 426.666667 0 0 1 512 85.333333z";
    -fx-background-color: linear-gradient(from 0.0% 0.0% to 100.0% 0.0%, #fa476cff 0.0%, #405ffdff 100.0%);
    -fx-pref-width: 25;
    -fx-pref-height: 25;
    -fx-max-width: 25;
    -fx-max-height: 25;
}

.scene-bar-title-left .title{
    -fx-font-size: 20;
    -fx-text-fill: whitesmoke;
}

.scene-bar-title-right .button,
.scene-bar-title-right .toggle-button{
    -fx-pref-width: 35;
    -fx-pref-height: 35;
    -fx-max-width: 35;
    -fx-max-height: 35;
    -fx-padding: 0;
    -fx-background-color:transparent;
    -fx-background-radius: 35;
}
.scene-bar-title-right .button:hover,
.scene-bar-title-right .toggle-button:hover
{
    -fx-background-color:#363636;
}
.scene-bar-title-right .button Region,
.scene-bar-title-right .toggle-button Region{
    -fx-background-color: white;
    -fx-pref-width: 16;
    -fx-pref-height: 16;
    -fx-max-width: 16;
    -fx-max-height: 16;
}


.scene-bar-title-right .max-btn Region{
    -fx-shape: "M800 928H224c-70.692 0-128-57.308-128-128V224c0-70.692 57.308-128 128-128h576c70.692 0 128 57.308 128 128v576c0 70.692-57.308 128-128 128z m64-704c0-35.346-28.654-64-64-64H224c-35.346 0-64 28.654-64 64v576c0 35.346 28.654 64 64 64h576c35.346 0 64-28.654 64-64V224z";

}
.scene-bar-title-right .max-btn:selected Region{
    -fx-shape: "M741.9 281.7v663h-663v-663h663m0.8-76.1H78.1c-41.3 0-76.1 34-76.1 76.1v664.6c0 41.3 34 76.1 76.1 76.1h664.6c41.3 0 76.1-34 76.1-76.1V280.9c-0.8-42.1-34-75.3-76.1-75.3z m204.8-204H281.3c-41.3 0-74.5 34-75.3 74.5v77.7h76.1V77.7h663v663H869v76.1h77.7c41.3 0 74.5-34 75.3-75.3V76.1c0-40.5-34-74.5-74.5-74.5z";
}
.scene-bar-title-right .full-btn Region{
    -fx-shape: "M181 357.5V181.2h176.4c14.3 0 25.9-11.6 25.9-25.9v-31.1c0-14.3-11.6-25.9-25.9-25.9H118c-11 0-20 9-20 20v239.4c0 14.3 11.6 25.9 25.9 25.9H155c14.4-0.1 26-11.7 26-26.1zM668.6 181.2H845v176.4c0 14.3 11.6 25.9 25.9 25.9H902c14.3 0 25.9-11.6 25.9-25.9V118.2c0-11-9-20-20-20H668.6c-14.3 0-25.9 11.6-25.9 25.9v31.1c0 14.3 11.6 26 25.9 26zM357.4 845.2H181V668.8c0-14.3-11.6-25.9-25.9-25.9H124c-14.3 0-25.9 11.6-25.9 25.9v239.4c0 11 9 20 20 20h239.4c14.3 0 25.9-11.6 25.9-25.9v-31.1c-0.1-14.4-11.7-26-26-26zM845 668.8v176.4H668.6c-14.3 0-25.9 11.6-25.9 25.9v31.1c0 14.3 11.6 25.9 25.9 25.9H908c11 0 20-9 20-20V668.8c0-14.3-11.6-25.9-25.9-25.9H871c-14.4 0-26 11.6-26 25.9z";

}
.scene-bar-title-right .full-btn:selected Region{
    -fx-shape: "M747.90557837 646.7890625h101.10662843c9.31420898 0 17.25402856 3.29754663 23.82934617 9.88769508 6.60992408 6.59509253 9.89758325 14.52502465 9.89758253 23.79968309 0 9.37353516-3.28765845 17.30346656-9.90252662 23.8985591-6.57037354 6.59014916-14.51019311 9.88769508-23.82440208 9.88769578h-101.10168434c-9.30432153 0-17.25402856 3.29754663-23.82934546 9.88769508-6.60992408 6.59509253-9.88769508 14.52502465-9.88769579 23.794739v101.1610105c0 9.26971435-3.29754663 17.20458984-9.89758254 23.79473901-6.58026099 6.59014916-14.52502465 9.88769508-23.82934617 9.88769508-9.29443336 0-17.25897193-3.29754663-23.80956984-9.88769508-6.62475562-6.59509253-9.89758325-14.52502465-9.89758325-23.79473901v-101.1610105c0-27.91296386 9.85803199-51.71264625 29.61364723-71.48803711 19.74572778-19.77539086 43.55529761-29.56420922 71.48309374-29.56420922l0.04943799-0.09887672zM343.46917724 141.21142578c9.3092649 0 17.25897193 3.29754663 23.8244021 9.88769508 6.60992408 6.59509253 9.89758325 14.52502465 9.89758253 23.79473901v101.1610105c0 27.91296386-9.87780761 51.71264625-29.62353468 71.48803711-19.74572778 19.77539086-43.58001733 29.66308594-71.4929812 29.66308594H174.96307349c-9.29443336 0-17.25402856-3.29260253-23.82440138-9.98657179-6.60992408-6.49127173-9.88769508-14.42120385-9.88769578-23.79473902 0-9.27465844 3.27777099-17.20458984 9.88769578-23.79968238 6.57531762-6.59014916 14.52502465-9.88769508 23.82934547-9.88769578h101.10168433c9.31420898 0 17.25402856-3.29754663 23.82934618-9.88769508 6.60992408-6.59509253 9.89758325-14.52502465 9.89758254-23.794739V174.89385987c0-9.26971435 3.27282691-17.30346656 9.89758324-23.79473901 6.57531762-6.69396997 14.51513648-9.88769508 23.81451392-9.88769508h-0.03955055zM174.96307349 646.7890625H276.07959008c27.91296386 0 51.74725342 9.88769508 71.48803711 29.66803002 19.75067115 19.67651344 29.62847876 43.57507324 29.62847877 71.48803711v101.05224562c0 9.37847924-3.28765845 17.30841065-9.89758325 23.90350389-6.56542945 6.59014916-14.51513648 9.88769508-23.82934547 9.88769508-9.29443336 0-17.25402856-3.29754663-23.80957054-9.88769508-6.62475562-6.59509253-9.90252662-14.52502465-9.90252662-23.8985598v-101.05224634c0-9.37847924-3.28271508-17.30841065-9.90747071-23.79968237-6.56048608-6.69396997-14.50030493-9.9865725-23.82440209-9.9865725H174.91857886c-9.30432153 0-17.25402856-3.1986692-23.819458-9.89263917-6.60992408-6.49127173-9.88769508-14.52502465-9.88769508-23.79473829 0-9.27465844 3.27777099-17.30346656 9.88769508-23.79968309 6.56048608-6.69396997 14.51513648-9.88769508 23.81451463-9.88769508h0.049438zM680.51104712 141.21142578c9.31420898 0 17.26391602 3.29754663 23.82934618 9.88769508 6.60992408 6.59509253 9.89263916 14.52502465 9.89263917 23.79473901v101.1610105c0 9.26971435 3.28765845 17.30346656 9.90252661 23.794739 6.56048608 6.69396997 14.52008057 9.88769508 23.82440209 9.88769508h101.09674025c9.3092649 0 17.26391602 3.29754663 23.82934618 9.88769578 6.6049807 6.59509253 9.90252662 14.52502465 9.90252662 23.8985591 0 9.27465844-3.29754663 17.20458984-9.89758325 23.79968309-6.57531762 6.59014916-14.52502465 9.88769508-23.83428955 9.88769508h-101.10168433c-27.92285133 0-51.72253442-9.88769508-71.48803711-29.56420922-19.76055932-19.77539086-29.61364722-43.57507324-29.61364722-71.48803711V174.99273657c0-9.37353516 3.28271508-17.30346656 9.88769507-23.79473829 6.57037354-6.69396997 14.53491211-9.88769508 23.82934546-9.88769578L680.51599121 141.21142578z";
}

.scene-bar-title-right .close-btn Region{
    -fx-shape: "M556.8 512L832 236.8c12.8-12.8 12.8-32 0-44.8-12.8-12.8-32-12.8-44.8 0L512 467.2l-275.2-277.333333c-12.8-12.8-32-12.8-44.8 0-12.8 12.8-12.8 32 0 44.8l275.2 277.333333-277.333333 275.2c-12.8 12.8-12.8 32 0 44.8 6.4 6.4 14.933333 8.533333 23.466666 8.533333s17.066667-2.133333 23.466667-8.533333L512 556.8 787.2 832c6.4 6.4 14.933333 8.533333 23.466667 8.533333s17.066667-2.133333 23.466666-8.533333c12.8-12.8 12.8-32 0-44.8L556.8 512z";
}

.scene-bar-title-right .min-btn Region{
    -fx-shape: "M960 544H64a32 32 0 1 1 0-64h896a32 32 0 1 1 0 64";
    -fx-background-color:white;
    -fx-pref-height: 3;
    -fx-max-height: 3;
}


.scene-bar-title-right .skin-btn{
    -fx-shape: "M706.545 128.019a63.985 63.985 0 0 1 48.599 22.363l172.835 201.763-63.996 127.857-41.374-41.371c-6.25-6.248-14.437-9.372-22.624-9.372-8.188 0-16.374 3.124-22.624 9.372a32.006 32.006 0 0 0-9.375 22.626v402.727c0 17.672-14.327 31.998-31.999 31.998H320.01c-17.671 0-31.998-14.326-31.998-31.998V461.256c0-17.672-14.328-31.998-32-31.998a31.997 31.997 0 0 0-22.624 9.372l-41.373 41.371L96.02 352.007l172.835-201.64a63.987 63.987 0 0 1 48.592-22.348h6.507a95.97 95.97 0 0 1 50.13 14.132C428.37 175.394 474.338 192.015 512 192.015s83.629-16.621 137.915-49.864a95.968 95.968 0 0 1 50.13-14.132h6.5m0-63.998h-6.5a159.89 159.89 0 0 0-83.557 23.558C561.904 121 529.537 128.018 512 128.018c-17.538 0-49.904-7.017-104.495-40.446a159.881 159.881 0 0 0-83.55-23.55h-6.508a127.823 127.823 0 0 0-97.182 44.701L47.428 310.36c-19.522 22.774-20.6 56.05-2.61 80.047L140.815 518.4a63.998 63.998 0 0 0 83.199 17.025v328.558c0 52.932 43.06 95.995 95.995 95.995h415.98c52.935 0 95.996-43.063 95.996-95.995V535.425a64.028 64.028 0 0 0 42.24 7.749 64.014 64.014 0 0 0 46.99-34.528l63.997-127.857c11.522-23.028 8.125-50.722-8.633-70.279L803.744 108.747c-24.336-28.422-59.77-44.726-97.2-44.726z";
    -fx-background-color: -default-theme-svg-common-color;
    -fx-pref-width: 16;
    -fx-pref-height: 16;
}

.scene-bar-title-right .logout-btn{
    -fx-shape: "M512 160v64H288c-16.416 0-32.224 15.904-32 32v512c0 16.416 15.936 32.224 32 32h224v64H288c-52.096 0-96-38.944-96-96V256c0-51.136 45.76-96 96-96h224z m164.16 198.048L832 512.064l-155.84 154.016-44.48-44 79.808-78.88h-263.552v-62.272h263.552l-79.808-78.88 44.48-44z";
    -fx-background-color: -default-theme-svg-common-color;
    -fx-pref-width: 16;
    -fx-pref-height: 16;
}

.scene-bar-content{
    -fx-background-color: transparent;
}