.background{
    -fx-background-color: #1a1a21;
}

.simple-btn{
    -fx-pref-width: 25;
    -fx-pref-height: 25;
    -fx-max-width: 25;
    -fx-max-height: 25;
    -fx-padding: 0;
    -fx-background-color:transparent;
    -fx-background-radius: 25;
}
.simple-btn:hover{
    -fx-background-color:#363636;
}
.simple-btn Region{
    -fx-background-color: #8b8b8b;
    -fx-pref-width: 12;
    -fx-pref-height: 12;
    -fx-max-width: 12;
    -fx-max-height: 12;
}




/*上一曲*/
.simple-pre-btn Region{
    -fx-shape: "M381.44 577.28l346.88 240.64c34.56 24.32 83.2-1.28 83.2-43.52V293.12c0-42.24-47.36-67.84-83.2-43.52L381.44 490.24c-30.72 20.48-30.72 65.28 0 87.04zM320 828.16c-21.76 0-38.4-16.64-38.4-38.4v-512c0-21.76 16.64-38.4 38.4-38.4s38.4 16.64 38.4 38.4v512c0 20.48-16.64 38.4-38.4 38.4z";
}
/*播放按钮*/
.simple-play-btn Region {
    -fx-shape: "M242.48 185.248C179.52 153.76 128 185.6 128 256v512c0 70.4 51.52 102.24 114.48 70.752l539.024-269.52c62.96-31.488 62.96-83.008 0-114.48L242.48 185.248z";
}
.simple-play-btn:selected  Region{
    -fx-shape: "M387.3 895.6H248.1c-31.2 0-56.7-25.5-56.7-56.7v-684c0-31.2 25.5-56.7 56.7-56.7h139.2c31.2 0 56.7 25.5 56.7 56.7v684c0 31.2-25.5 56.7-56.7 56.7zM775.3 895.6H636.1c-31.2 0-56.7-25.5-56.7-56.7v-684c0-31.2 25.5-56.7 56.7-56.7h139.2c31.2 0 56.7 25.5 56.7 56.7v684c0 31.2-25.5 56.7-56.7 56.7z";
}

/*下一曲*/
.simple-next-btn Region{
    -fx-shape: "M686.08 448L339.2 207.36c-34.56-24.32-83.2 1.28-83.2 43.52v481.28c0 42.24 47.36 67.84 83.2 43.52l346.88-240.64c29.44-21.76 29.44-66.56 0-87.04zM746.24 785.92c-21.76 0-38.4-16.64-38.4-38.4v-512c0-21.76 16.64-38.4 38.4-38.4s38.4 16.64 38.4 38.4v512c0 20.48-16.64 38.4-38.4 38.4z";
}


/*列表按钮*/
.simple-list-btn Region{
    -fx-background-color: #8b8b8b;
    -fx-shape: "M988.3 488.2c-85.3 0-154.8-69.4-154.8-154.8 0-19.7-16-35.7-35.7-35.7-19.7 0-35.7 16-35.7 35.7v233.3c-37.9-34-88-54.7-142.9-54.7-118.2 0-214.3 96.1-214.3 214.3S501 940.7 619.2 940.7c118.2 0 214.3-96.1 214.3-214.3 0-8.6-0.5-17.1-1.5-25.4 1-3.3 1.5-6.7 1.5-10.3V498.2c40.5 38.1 95 61.4 154.8 61.4 19.7 0 35.7-16 35.7-35.7 0-19.7-16-35.7-35.7-35.7z m-369.1 381c-78.8 0-142.9-64.1-142.9-142.9s64.1-142.9 142.9-142.9S762 647.5 762 726.3s-64 142.9-142.8 142.9zM35.7 154.8h762c19.7 0 35.7-16 35.7-35.7s-16-35.7-35.7-35.7h-762C16 83.3 0 99.3 0 119.1s16 35.7 35.7 35.7zM35.7 369.1h619.2c19.7 0 35.7-16 35.7-35.7s-16-35.7-35.7-35.7H35.7C16 297.7 0 313.7 0 333.4s16 35.7 35.7 35.7zM297.7 512h-262C16 512 0 528 0 547.7c0 19.7 16 35.7 35.7 35.7h262c19.7 0 35.7-16 35.7-35.7 0-19.7-16-35.7-35.7-35.7zM297.7 726.3h-262C16 726.3 0 742.3 0 762s16 35.7 35.7 35.7h262c19.7 0 35.7-16 35.7-35.7s-16-35.7-35.7-35.7z";
}

.simple-lrc-btn Region{
    -fx-background-color: #8b8b8b;
    -fx-shape:"M793.941 160H230.06C191.36 160 160 191.616 160 230.059v563.84C160 832.64 191.616 864 230.059 864h563.84c38.698 0 70.058-31.616 70.058-70.059V230.06C864 191.36 832.384 160 793.941 160z m5.718 640c0-0.299-575.659-0.341-575.659-0.341 0.299 0 0.341-575.659 0.341-575.659 0 0.299 575.659 0.341 575.659 0.341-0.299 0-0.341 575.659-0.341 575.659zM703.659 681.472l0.341 0.17V349.654c-1.152-18.602-13.952-28.501-38.357-29.653H459.776c-12.8 1.152-19.755 9.301-20.95 24.405 1.153 15.104 8.15 23.254 20.95 24.406h190.123c3.498 0 5.248 1.749 5.248 5.248V656.64l0.469 0.256h-65.792c-6.699 0-17.579 8.704-18.432 22.656 0.853 15.104 10.112 23.253 18.432 24.405h98.944c8.79-1.066 13.739-8.576 14.89-22.485zM477.227 438.613c-11.648-1.152-18.006-9.301-19.2-24.405 1.152-13.952 7.552-21.504 19.2-22.656h143.018c13.952 1.152 21.504 8.704 22.656 22.656-1.152 15.104-8.149 23.253-20.949 24.405H477.227zM334.72 367.104c-6.827-1.152-22.016-9.301-22.699-24.448 0.683-13.952 13.398-21.504 20.267-22.656h56.235c8.234 1.152 20.01 8.704 20.693 22.656-0.64 15.147-13.141 23.296-20.693 24.448H334.72z m67.499 288.512v-204.8c1.152-25.6-8.704-37.803-29.654-36.65H330.71c-12.8 1.194-19.754 9.343-20.949 24.447 1.152 16.299 8.15 25.003 20.95 26.155h17.45c3.499 0 5.248 1.75 5.248 5.248v206.677a9.985 9.985 0 0 0-0.128 1.622c0.128 3.029 0.853 5.76 1.963 8.234 2.901 9.515 7.893 14.464 19.114 17.238 1.878 0.298 3.712-0.086 5.547-1.067h49.152c7.253-1.152 20.779-9.301 21.461-24.405-0.64-13.952-13.525-21.504-21.461-22.656h-26.837z m97.706-21.632c-24.405 0-36.65-11.648-36.65-34.901V497.92c0-23.253 10.453-34.901 31.402-34.901H597.59c24.406 0 36.054 9.898 34.902 29.653v106.41c0 23.254-10.454 34.902-31.403 34.902H499.925z m12.203-50.603c1.152 2.347 2.901 4.054 5.248 5.248h61.056c3.499 0 5.248-1.749 5.248-5.248v-68.01c0-3.499-1.75-5.248-5.248-5.248h-61.099c-3.498 0-5.248 1.749-5.248 5.248v68.01z" ;
}
.simple-lrc-btn:selected {
    -fx-background-color: transparent;
}
.simple-lrc-btn:selected Region{
    -fx-background-color: #388bfd;
}


.simple-volume-btn Region{
    -fx-background-color: #8b8b8b;
    -fx-shape: "M599.104 243.434667V789.546667c0 43.626667-53.866667 64.789333-84.053333 33.024l-140.309334-128.085334H203.392a64 64 0 0 1-64-64V416.981333a64 64 0 0 1 60.224-63.893333l4.309333-0.106667 172.970667 2.88 138.176-145.450666c30.165333-31.786667 84.053333-10.602667 84.053333 33.024z m127.68 12.309333c92.544 47.082667 158.229333 139.392 167.957333 247.829333v56.021334c-9.450667 105.472-71.850667 195.690667-160.426666 243.882666L704.789333 746.666667A245.269333 245.269333 0 0 0 832 531.584a245.333333 245.333333 0 0 0-134.698667-219.029333l29.482667-56.810667z m-191.68 26.496l-131.157333 138.090667-200.554667-3.349334v213.482667h196.16l135.552 123.733333V282.24z m137.770667 77.418667a191.466667 191.466667 0 0 1 94.442666 165.418666 191.466667 191.466667 0 0 1-92.416 164.202667l-29.653333-56.96a127.488 127.488 0 0 0 58.069333-107.242667 127.488 127.488 0 0 0-60.010666-108.501333l29.568-56.917333z";
}
.simple-volume-btn:selected{
    -fx-background-color: transparent;
}

.simple-volume-btn:selected Region{
    -fx-shape: "M599.104 476.053333v313.472c0 43.626667-53.866667 64.789333-84.053333 33.024l-137.194667-125.269333 45.290667-45.290667 111.957333 102.186667V540.074667l64-64z m183.68-183.701333a308.885333 308.885333 0 0 1 111.957333 211.2v56.042667c-9.450667 105.472-71.850667 195.690667-160.426666 243.882666l-29.546667-56.789333A245.269333 245.269333 0 0 0 832 531.584a244.906667 244.906667 0 0 0-94.72-193.685333l45.525333-45.546667z m-94.933333-55.893333l45.269333 45.248-482.730667 482.709333-45.248-45.226667 482.709334-482.730666z m10.090666 140.757333a191.466667 191.466667 0 0 1 69.376 147.84 191.466667 191.466667 0 0 1-92.416 164.224l-29.653333-56.96a127.488 127.488 0 0 0 58.069333-107.242667c0-41.962667-20.053333-79.146667-50.944-102.293333l45.568-45.568z m-98.837333-133.76v21.418667l-64 64V282.24l-131.157333 138.090667-200.554667-3.349334v213.482667l30.122667-0.021333-57.749334 57.770666a64 64 0 0 1-36.373333-57.749333V416.981333a64 64 0 0 1 60.224-63.893333l4.309333-0.106667 172.970667 2.88 138.176-145.450666c30.165333-31.786667 84.053333-10.602667 84.053333 33.024z";

}




/*
*********************时间文本**************************
*/
.simple-time-label{
    -fx-font-size: 13;
    -fx-text-fill: #8b8b8b;
}

/*
*********************进度条**************************
*/
.simple-song-slider {
    -jfx-default-thumb:#5c626a;
    -fx-pref-height: 15px;
}
/*未到达轨迹*/
.simple-song-slider .track,
.simple-song-slider:horizontal .track {
    -fx-background-color: #e3e5e720;
    -fx-background-radius: 5;
    -fx-background-insets: 0;
    -fx-pref-height: 4px;
}

/*移动的点*/
.simple-song-slider .thumb,
.simple-song-slider:focused .thumb {
    -fx-background-color:#388bfd;
    -fx-background-radius: 10;
    -fx-background-insets: 0;
    -fx-pref-width: 10;
    -fx-pref-height: 10;
}

.simple-song-slider:hover .thumb {
    -fx-background-color:#388bfd;
}
/*已抵达轨迹*/
.simple-song-slider .colored-track {
    -fx-background-color:#388bfd;
    -fx-background-radius: 10;
    -fx-background-insets: 0;
}

/*弹出的提示字体*/
.simple-song-slider .slider-value {
    -fx-stroke: WHITE;
    -fx-font-size: 10;
}
/*弹出的提示字体背景*/
.simple-song-slider .animated-thumb {
    -fx-pref-width: 30px;
    -fx-pref-height: 30px;
    -fx-background-color: -jfx-default-thumb;
    -fx-background-radius: 50% 50% 50% 0%;
    -fx-background-insets: 0;
}
/*最小值时移动点的颜色*/
.simple-song-slider:min .thumb,
.simple-song-slider:min:focused .thumb {
    -fx-background-color: -jfx-default-track;
    -fx-background-radius: 20;
    -fx-background-insets: 0;
}
/*最小值时弹出的背景颜色*/
.simple-song-slider:min .animated-thumb {
    -fx-background-color: -jfx-default-track;
    -fx-background-radius: 50% 50% 50% 0%;
    -fx-background-insets: 0;
}

/*================================*/
.simple-song-buffer-slider {
    -jfx-default-thumb:transparent;
    -fx-pref-height: 15px;
}
/*未到达轨迹*/
.simple-song-buffer-slider .track,
.simple-song-buffer-slider:horizontal .track {
    -fx-background-color: transparent;
    -fx-background-radius: 5;
    -fx-background-insets: 0;
    -fx-pref-height: 4px;
}

/*移动的点*/
.simple-song-buffer-slider .thumb,
.simple-song-buffer-slider:focused .thumb {
    -fx-background-color:#4a4d54;
    -fx-background-radius: 10;
    -fx-background-insets: 0;
    -fx-pref-width: 10;
    -fx-pref-height: 10;
}

.simple-song-buffer-slider:hover .thumb {
    -fx-background-color:#5c626a;
}
/*已抵达轨迹*/
.simple-song-buffer-slider .colored-track {
    -fx-background-color: #4a4d54;
    -fx-background-radius: 10;
    -fx-background-insets: 0;
}

/*弹出的提示字体*/
.simple-song-buffer-slider .slider-value {
    -fx-stroke: WHITE;
    -fx-font-size: 10;
}
/*弹出的提示字体背景*/
.simple-song-buffer-slider .animated-thumb {
    -fx-pref-width: 30px;
    -fx-pref-height: 30px;
    -fx-background-color: -jfx-default-thumb;
    -fx-background-radius: 50% 50% 50% 0%;
    -fx-background-insets: 0;
}
/*最小值时移动点的颜色*/
.simple-song-buffer-slider:min .thumb,
.simple-song-buffer-slider:min:focused .thumb {
    -fx-background-color: -jfx-default-track;
    -fx-background-radius: 20;
    -fx-background-insets: 0;
}
/*最小值时弹出的背景颜色*/
.simple-song-buffer-slider:min .animated-thumb {
    -fx-background-color: -jfx-default-track;
    -fx-background-radius: 50% 50% 50% 0%;
    -fx-background-insets: 0;
}

.simple-song-buffer-slider:max .thumb,
.simple-song-buffer-slider:max:focused .thumb {
    -fx-background-color: red;
    -fx-background-radius: 20;
    -fx-background-insets: 0;
    -fx-shape: "";
}