
.detail-dialog{
    -fx-background-color:#24282e;
    -fx-background-radius: 20;
    -fx-padding: 20;
    -fx-pref-height: 620;

}
.detail-dialog .scroll-pane .thumb{
    -fx-background-color: #696969;
    visibility: false;
}
.detail-dialog .scroll-pane:hover .thumb{
    visibility: true;
}

.detail-dialog .detail-dialog-title{
    -fx-text-fill: #d5d2d2;
    -fx-wrap-text: true;
    -fx-pref-width: 920;
    -fx-font-size: 18;
    -fx-padding: 5 5 10 5;
}


.detail-dialog .play-all-btn{
    -fx-text-fill: white;
}
.detail-dialog .play-all-btn Region{
    -fx-shape: "M512 0a512 512 0 1 0 512 512A512 512 0 0 0 512 0z m216.992 541.128L404.96 728.208a33.6 33.6 0 0 1-50.456-29.128V324.928a33.6 33.6 0 0 1 50.456-29.136l324 187.08a33.6 33.6 0 0 1 0 58.256z m0 0";
    -fx-background-color: white;
}

.detail-dialog .open-folder-btn,
.detail-dialog .star-btn{
    -fx-pref-width: 35;
    -fx-pref-height: 35;
    -fx-max-width: 35;
    -fx-max-height: 35;
    -fx-padding: 0;
    -fx-background-color:transparent;
    -fx-background-radius: 35;
}

.detail-dialog .open-folder-btn:hover,
.detail-dialog .star-btn:hover{
    -fx-background-color:#292929;
}
.detail-dialog .open-folder-btn Region,
.detail-dialog .star-btn Region{
    -fx-background-color: white;
    -fx-pref-width: 16;
    -fx-pref-height: 16;
    -fx-max-width: 16;
    -fx-max-height: 16;
}

.detail-dialog .star-btn Region{
    -fx-shape:"M956 398.496q-8-23.488-26.496-39.008t-42.496-19.488l-204.992-31.008-92-195.008q-11.008-24-32.992-36.992Q536.032 64 512.032 64t-44.992 12.992q-22.016 12.992-32.992 36.992l-92 195.008-204.992 31.008q-24 4-42.496 19.488t-26.496 39.008-2.496 47.008 22.496 41.504l151.008 154.016-36 218.016q-6.016 40 20 70.496t66.016 30.496q22.016 0 42.016-11.008l180.992-100 180.992 100q20 11.008 42.016 11.008 40 0 66.016-30.496t20-70.496l-36-218.016 151.008-154.016q16.992-18.016 22.496-41.504t-2.496-47.008z";
}

.detail-dialog .star-btn:selected Region{
    -fx-background-color: #E86060;
}

.detail-dialog .center{
    -fx-background-color:#24282e;
    -fx-padding: 0 10 0 10;
}


.detail-dialog .tag-label{
    -fx-background-color: #1a1a21;
    -fx-padding: 6 14 6 14;
    -fx-background-radius: 15;
    -fx-text-fill: #CCEDEA;
}
.detail-dialog .tag-label:hover{
    -fx-background-color: #595959;
}

.detail-dialog .actor-label{
    -fx-background-color: #388bfd;
    -fx-padding: 6 14 6 14;
    -fx-background-radius: 4;
}
.detail-dialog .actor-label:hover{
    -fx-background-color: #58a6ff;
}



.detail-dialog .right .separator{
    -fx-padding: 15 15 15 15;
}
.detail-dialog .right .separator > .line {
    -fx-background-color: linear-gradient(from 100.0% 0.0% to 100.0% 100.0%, #36353590 0.0%, #4f4f4f80 50.0%, #36353590 100.0%);
    -fx-padding: 0.0em 0.083333em 0.0em 0.0em; /* 0 1 0 0 */
    -fx-border-width: 0;
}

.detail-dialog .right .list-view{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}


.detail-dialog .right .list-view .list-cell{
    -fx-background-color: transparent;
}

.detail-dialog .right .list-view .list-cell:hover{
    -fx-background-color: #595959;
}
.detail-dialog .right .list-view .list-cell:empty{
    -fx-background-color: transparent;
}
/*=======PathViewPane=========*/
.path-view-pane{

}
.path-view-pane > .button{
    -fx-background-color:  #24282e;
    -fx-background-insets: 0;
    -fx-padding: 5;
    -fx-text-fill: #767676;
    -fx-font-size: 12;
    -fx-pref-height: 30;
}
.path-view-pane > .button:hover{
    -fx-background-color:  #595959;
    -fx-text-fill: #d5d2d2;
}
.path-view-pane > .button > Region{
    -fx-shape: "M685.226667 466.773333a64 64 0 0 1 0 90.453334l-241.322667 241.408a64 64 0 1 1-90.496-90.538667L549.504 512 353.408 315.904a64 64 0 0 1 90.453333-90.538667l241.408 241.365334z";
    -fx-background-color:  #595959;
    -fx-pref-width: 8;
    -fx-pref-height: 15;
}
.path-view-pane > .button:hover > Region{
    -fx-background-color:  white;
}

/* ===============歌曲表格================= */
.folder-table-view,
.folder-table-view .column-header,
.folder-table-view .column-header-background .filler,
.folder-table-view .corner {
    -fx-background-color: #24282e;
    -fx-border-color: transparent;
}
.folder-table-view{
    -fx-padding: 0 0 0 0;
}
/*表头左对齐*/
.folder-table-view .column-header .label{
    -fx-text-fill: white;
    -fx-alignment:center-left;
    -fx-padding: 2 0 2 10px;
}
/*表头背景*/
.folder-table-view .column-header-background{
    -fx-background-color: transparent;
    -fx-background-insets: 0 11px 0 0;
    -fx-padding: 0 0 5px 0;
}
/*单元格*/
.folder-table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
    -fx-alignment: center-left;
    -fx-text-fill: white;
}
.folder-table-view .table-row-cell{
    -fx-background-color: transparent;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
    -fx-pref-height: 50px;
    -fx-alignment: center;
}
.folder-table-view .table-row-cell:selected {
    -fx-background-color: #595959;
    -fx-background-radius: 10px;
    -fx-background-insets: 2px;
}
.folder-table-view .table-row-cell:hover{
    -fx-background-color: #595959;
    -fx-background-radius: 10px;
    -fx-background-insets: 2px;
}
.folder-table-view .table-row-cell:empty{
    visibility: false;
}

.folder-table-view .virtual-flow .scroll-bar:vertical,
.folder-table-view .virtual-flow .scroll-bar:vertical .track,
.folder-table-view .virtual-flow .scroll-bar:vertical .track-background,
.folder-table-view .virtual-flow .scroll-bar:horizontal,
.folder-table-view .virtual-flow .scroll-bar:horizontal .track,
.folder-table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}


.folder-table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color: transparent;
}

.folder-table-view .virtual-flow .scroll-bar .increment-button,
.folder-table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}
.folder-table-view .cell-label:hover{
    -fx-text-fill: #00D6C4;
}
.folder-table-view .num-column{
    -fx-alignment:center-right;
    -fx-text-fill: white;
}

/*=================================================*/
.detail-table-open-menu Region{
    -fx-shape: "M509.618255 415.794891c-42.695405 0-77.253478 38.371936-77.253478 85.73771 0 47.352471 34.558074 86.22071 77.253478 86.22071 42.666752 0 76.716242-38.867216 76.716242-86.22071C586.333474 454.181153 552.285007 415.794891 509.618255 415.794891zM511.518534 237.895155c-211.54809 0-383.266034 159.858848-383.266034 274.586822 0 114.726951 171.717943 273.623891 383.266034 273.623891 212.484416 0 384.227941-162.52149 384.227941-273.623891C895.746476 401.393903 724.00295 237.895155 511.518534 237.895155zM510.071579 689.900759c-89.698928 0-162.133657-81.708953-162.133657-181.90291 0-101.156888 72.434729-182.397167 162.133657-182.397167 90.182952 0 163.099658 81.241302 163.099658 182.397167C673.171238 608.204086 600.254531 689.900759 510.071579 689.900759z";
    -fx-background-color: white;
}

