
.background{
    -fx-background-color: transparent;
    -fx-background-radius: 10;
}
.scene-bar{
    -fx-background-color: transparent;
    -fx-effect: null;
}

.scene-bar-title{
    -fx-background-color: transparent;
    -fx-background-radius: 10 10 0 0;
}
.scene-bar-title-left{
    -fx-background-color: transparent;

}
.scene-bar-content{
     -fx-background-color: transparent;
 }


.function-btn{
    -fx-pref-width: 35;
    -fx-pref-height: 35;
    -fx-max-width: 35;
    -fx-max-height: 35;
    -fx-padding: 8;
    -fx-background-color:transparent;
    -fx-background-radius: 35;
}
.function-btn:hover{
    -fx-background-color:#363636;
}
.function-btn Region{
    -fx-background-color: #8b8b8b;
}



.detail-btn{
    -fx-background-color:transparent;
    -fx-background-radius: 35;
    -fx-border-width: 2;
    -fx-padding: 5;
    -fx-pref-width: 35;
    -fx-pref-height: 35;
    -fx-alignment: center;
}

.detail-btn Region{
    -fx-max-height: 20;
    -fx-max-width: 20;
    -fx-background-color: RGB(43,20,13);
}

.detail-btn:hover{
    -fx-background-color: RGB(209,213,215,0.5);

}




/*------------歌词相关-------------*/
.lrc-listview{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
.lrc-listview .scroll-bar:vertical,
.lrc-listview .scroll-bar:horizontal{
    -fx-pref-width: 0;
    -fx-background-color: transparent;
}

/* 滑条滑块设置，默认隐藏*/
.lrc-listview .scroll-bar:horizontal .track,
.lrc-listview .scroll-bar:horizontal .thumb,
.lrc-listview .scroll-bar:vertical .track,
.lrc-listview .scroll-bar:vertical .thumb {
    -fx-background-color: transparent;
}
/* 上下按钮设置，默认隐藏*/
.lrc-listview .scroll-bar .increment-arrow,
.lrc-listview .scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0;
}


.lrc-listview .list-cell:odd,
.lrc-listview .list-cell:even{
    -fx-background-color: transparent;
    -fx-padding: 20;
}


/*默认cell样式*/
.lrc-listview .list-cell{
    -fx-text-fill: #8b8b8b;
    -fx-font-size: 28;
    -fx-font-weight: BOLD;
    -fx-cell-size: null;
    -fx-padding: 20;
}
/*选中cell样式*/
.lrc-listview .list-cell:selected{
    -fx-text-fill: white;
    -fx-font-size: 30;
    -fx-font-weight: bold;
    -fx-wrap-text: true;
}


.detail-album{

}




/*
*********************进度条**************************
*/
.detail-song-slider {
    -jfx-default-thumb:#388bfd;
    -fx-pref-height: 15px;
}
/*未到达轨迹*/
.detail-song-slider .track,
.detail-song-slider:horizontal .track {
    -fx-background-color: #e3e5e720;
    -fx-background-radius: 5;
    -fx-background-insets: 0;
    -fx-pref-height: 4px;
}

/*移动的点*/
.detail-song-slider .thumb,
.detail-song-slider:focused .thumb {
    -fx-background-color:transparent;
    -fx-background-radius: 14;
    -fx-background-insets: 0;
    -fx-pref-width: 14;
    -fx-pref-height: 14;
}

.detail-song-slider:hover .thumb {
    -fx-background-color:#388bfd;
}
/*已抵达轨迹*/
.detail-song-slider .colored-track {
    -fx-background-color:#388bfd;
    -fx-background-radius: 10;
    -fx-background-insets: 0;
}

/*弹出的提示字体*/
.detail-song-slider .slider-value {
    -fx-stroke: WHITE;
    -fx-font-size: 10;
}
/*弹出的提示字体背景*/
.detail-song-slider .animated-thumb {
    -fx-pref-width: 30px;
    -fx-pref-height: 30px;
    -fx-background-color: -jfx-default-thumb;
    -fx-background-radius: 50% 50% 50% 0%;
    -fx-background-insets: 0;
}
/*最小值时移动点的颜色*/
.detail-song-slider:min .thumb,
.detail-song-slider:min:focused .thumb {
    -fx-background-color: -jfx-default-track;
    -fx-background-radius: 20;
    -fx-background-insets: 0;
}
/*最小值时弹出的背景颜色*/
.detail-song-slider:min .animated-thumb {
    -fx-background-color: -jfx-default-track;
    -fx-background-radius: 50% 50% 50% 0%;
    -fx-background-insets: 0;
}


/*
*********************时间文本**************************
*/

.time-label{
    -fx-font-size: 13;
    -fx-text-fill: #8b8b8b;
}

.title-label{
    -fx-font-size: 24;
    -fx-text-fill: white;

}

.artist-label{
    -fx-font-size: 16;
    -fx-text-fill: #ffffff90;
}


/*
*********************控制按钮配置**************************
*/
.pre-btn,
.next-btn{
    -fx-pref-width: 35;
    -fx-pref-height: 35;
    -fx-max-width: 35;
    -fx-max-height: 35;
    -fx-padding: 8;
    -fx-background-color:transparent;
    -fx-background-radius: 35;
}
.pre-btn:hover,
.next-btn:hover{
    -fx-background-color:#363636;
}
.pre-btn Region,
.next-btn Region{
    -fx-background-color: #8b8b8b;
}


/*上一曲*/
.pre-btn Region{
    -fx-shape: "M381.44 577.28l346.88 240.64c34.56 24.32 83.2-1.28 83.2-43.52V293.12c0-42.24-47.36-67.84-83.2-43.52L381.44 490.24c-30.72 20.48-30.72 65.28 0 87.04zM320 828.16c-21.76 0-38.4-16.64-38.4-38.4v-512c0-21.76 16.64-38.4 38.4-38.4s38.4 16.64 38.4 38.4v512c0 20.48-16.64 38.4-38.4 38.4z";
    -fx-background-color:white;
    -fx-pref-width: 16;
    -fx-pref-height: 20;
}
/*下一曲*/
.next-btn Region{
    -fx-shape: "M686.08 448L339.2 207.36c-34.56-24.32-83.2 1.28-83.2 43.52v481.28c0 42.24 47.36 67.84 83.2 43.52l346.88-240.64c29.44-21.76 29.44-66.56 0-87.04zM746.24 785.92c-21.76 0-38.4-16.64-38.4-38.4v-512c0-21.76 16.64-38.4 38.4-38.4s38.4 16.64 38.4 38.4v512c0 20.48-16.64 38.4-38.4 38.4z";
    -fx-background-color:white;
    -fx-pref-width: 16;
    -fx-pref-height: 20;
}
/*播放按钮*/
.play-btn {
    -fx-background-color: transparent;
    -fx-pref-width: 40;
    -fx-pref-height: 40;
    -fx-max-width: 40;
    -fx-max-height: 40;
    -fx-padding: 8 8 8 12;
    -fx-background-radius: 40;
}
.play-btn:hover {
    -fx-background-color: #363636;
}
.play-btn:selected {
    -fx-padding: 8 8 8 8;
}

.play-btn Region {
    -fx-pref-width: 30;
    -fx-pref-height: 32;
    -fx-max-width: 30;
    -fx-max-height: 32;
    -fx-shape: "M242.48 185.248C179.52 153.76 128 185.6 128 256v512c0 70.4 51.52 102.24 114.48 70.752l539.024-269.52c62.96-31.488 62.96-83.008 0-114.48L242.48 185.248z";
    -fx-background-color: white;
}
.play-btn:selected  Region{
    -fx-shape: "M387.3 895.6H248.1c-31.2 0-56.7-25.5-56.7-56.7v-684c0-31.2 25.5-56.7 56.7-56.7h139.2c31.2 0 56.7 25.5 56.7 56.7v684c0 31.2-25.5 56.7-56.7 56.7zM775.3 895.6H636.1c-31.2 0-56.7-25.5-56.7-56.7v-684c0-31.2 25.5-56.7 56.7-56.7h139.2c31.2 0 56.7 25.5 56.7 56.7v684c0 31.2-25.5 56.7-56.7 56.7z";
}










.lrc-btn,
.volume-btn,
.disorder-btn,
.loop-btn,
.list-btn{
    -fx-background-color: transparent;
}
.lrc-btn Region,
.volume-btn Region ,
.disorder-btn Region ,
.loop-btn Region,
.list-btn Region{
    -fx-background-color:#8b8b8b;
    -fx-max-width: 16;
    -fx-max-height: 16;
    -fx-pref-width: 16;
    -fx-pref-height: 16;
}
.lrc-btn:hover Region,
.volume-btn:hover Region ,
.disorder-btn:hover Region ,
.loop-btn:hover Region,
.list-btn:hover Region{
    -fx-background-color:white;
}

/*音量按钮*/
.volume-btn Region {
    -fx-shape: "M599.104 243.434667V789.546667c0 43.626667-53.866667 64.789333-84.053333 33.024l-140.309334-128.085334H203.392a64 64 0 0 1-64-64V416.981333a64 64 0 0 1 60.224-63.893333l4.309333-0.106667 172.970667 2.88 138.176-145.450666c30.165333-31.786667 84.053333-10.602667 84.053333 33.024z m127.68 12.309333c92.544 47.082667 158.229333 139.392 167.957333 247.829333v56.021334c-9.450667 105.472-71.850667 195.690667-160.426666 243.882666L704.789333 746.666667A245.269333 245.269333 0 0 0 832 531.584a245.333333 245.333333 0 0 0-134.698667-219.029333l29.482667-56.810667z m-191.68 26.496l-131.157333 138.090667-200.554667-3.349334v213.482667h196.16l135.552 123.733333V282.24z m137.770667 77.418667a191.466667 191.466667 0 0 1 94.442666 165.418666 191.466667 191.466667 0 0 1-92.416 164.202667l-29.653333-56.96a127.488 127.488 0 0 0 58.069333-107.242667 127.488 127.488 0 0 0-60.010666-108.501333l29.568-56.917333z";
}
.volume-btn:selected  Region{
    -fx-shape: "M599.104 476.053333v313.472c0 43.626667-53.866667 64.789333-84.053333 33.024l-137.194667-125.269333 45.290667-45.290667 111.957333 102.186667V540.074667l64-64z m183.68-183.701333a308.885333 308.885333 0 0 1 111.957333 211.2v56.042667c-9.450667 105.472-71.850667 195.690667-160.426666 243.882666l-29.546667-56.789333A245.269333 245.269333 0 0 0 832 531.584a244.906667 244.906667 0 0 0-94.72-193.685333l45.525333-45.546667z m-94.933333-55.893333l45.269333 45.248-482.730667 482.709333-45.248-45.226667 482.709334-482.730666z m10.090666 140.757333a191.466667 191.466667 0 0 1 69.376 147.84 191.466667 191.466667 0 0 1-92.416 164.224l-29.653333-56.96a127.488 127.488 0 0 0 58.069333-107.242667c0-41.962667-20.053333-79.146667-50.944-102.293333l45.568-45.568z m-98.837333-133.76v21.418667l-64 64V282.24l-131.157333 138.090667-200.554667-3.349334v213.482667l30.122667-0.021333-57.749334 57.770666a64 64 0 0 1-36.373333-57.749333V416.981333a64 64 0 0 1 60.224-63.893333l4.309333-0.106667 172.970667 2.88 138.176-145.450666c30.165333-31.786667 84.053333-10.602667 84.053333 33.024z";
}

/*列表按钮*/
.list-btn Region{
    -fx-shape: "M988.3 488.2c-85.3 0-154.8-69.4-154.8-154.8 0-19.7-16-35.7-35.7-35.7-19.7 0-35.7 16-35.7 35.7v233.3c-37.9-34-88-54.7-142.9-54.7-118.2 0-214.3 96.1-214.3 214.3S501 940.7 619.2 940.7c118.2 0 214.3-96.1 214.3-214.3 0-8.6-0.5-17.1-1.5-25.4 1-3.3 1.5-6.7 1.5-10.3V498.2c40.5 38.1 95 61.4 154.8 61.4 19.7 0 35.7-16 35.7-35.7 0-19.7-16-35.7-35.7-35.7z m-369.1 381c-78.8 0-142.9-64.1-142.9-142.9s64.1-142.9 142.9-142.9S762 647.5 762 726.3s-64 142.9-142.8 142.9zM35.7 154.8h762c19.7 0 35.7-16 35.7-35.7s-16-35.7-35.7-35.7h-762C16 83.3 0 99.3 0 119.1s16 35.7 35.7 35.7zM35.7 369.1h619.2c19.7 0 35.7-16 35.7-35.7s-16-35.7-35.7-35.7H35.7C16 297.7 0 313.7 0 333.4s16 35.7 35.7 35.7zM297.7 512h-262C16 512 0 528 0 547.7c0 19.7 16 35.7 35.7 35.7h262c19.7 0 35.7-16 35.7-35.7 0-19.7-16-35.7-35.7-35.7zM297.7 726.3h-262C16 726.3 0 742.3 0 762s16 35.7 35.7 35.7h262c19.7 0 35.7-16 35.7-35.7s-16-35.7-35.7-35.7z";
}

.lrc-btn Region{
    -fx-shape:"M793.941 160H230.06C191.36 160 160 191.616 160 230.059v563.84C160 832.64 191.616 864 230.059 864h563.84c38.698 0 70.058-31.616 70.058-70.059V230.06C864 191.36 832.384 160 793.941 160z m5.718 640c0-0.299-575.659-0.341-575.659-0.341 0.299 0 0.341-575.659 0.341-575.659 0 0.299 575.659 0.341 575.659 0.341-0.299 0-0.341 575.659-0.341 575.659zM703.659 681.472l0.341 0.17V349.654c-1.152-18.602-13.952-28.501-38.357-29.653H459.776c-12.8 1.152-19.755 9.301-20.95 24.405 1.153 15.104 8.15 23.254 20.95 24.406h190.123c3.498 0 5.248 1.749 5.248 5.248V656.64l0.469 0.256h-65.792c-6.699 0-17.579 8.704-18.432 22.656 0.853 15.104 10.112 23.253 18.432 24.405h98.944c8.79-1.066 13.739-8.576 14.89-22.485zM477.227 438.613c-11.648-1.152-18.006-9.301-19.2-24.405 1.152-13.952 7.552-21.504 19.2-22.656h143.018c13.952 1.152 21.504 8.704 22.656 22.656-1.152 15.104-8.149 23.253-20.949 24.405H477.227zM334.72 367.104c-6.827-1.152-22.016-9.301-22.699-24.448 0.683-13.952 13.398-21.504 20.267-22.656h56.235c8.234 1.152 20.01 8.704 20.693 22.656-0.64 15.147-13.141 23.296-20.693 24.448H334.72z m67.499 288.512v-204.8c1.152-25.6-8.704-37.803-29.654-36.65H330.71c-12.8 1.194-19.754 9.343-20.949 24.447 1.152 16.299 8.15 25.003 20.95 26.155h17.45c3.499 0 5.248 1.75 5.248 5.248v206.677a9.985 9.985 0 0 0-0.128 1.622c0.128 3.029 0.853 5.76 1.963 8.234 2.901 9.515 7.893 14.464 19.114 17.238 1.878 0.298 3.712-0.086 5.547-1.067h49.152c7.253-1.152 20.779-9.301 21.461-24.405-0.64-13.952-13.525-21.504-21.461-22.656h-26.837z m97.706-21.632c-24.405 0-36.65-11.648-36.65-34.901V497.92c0-23.253 10.453-34.901 31.402-34.901H597.59c24.406 0 36.054 9.898 34.902 29.653v106.41c0 23.254-10.454 34.902-31.403 34.902H499.925z m12.203-50.603c1.152 2.347 2.901 4.054 5.248 5.248h61.056c3.499 0 5.248-1.749 5.248-5.248v-68.01c0-3.499-1.75-5.248-5.248-5.248h-61.099c-3.498 0-5.248 1.749-5.248 5.248v68.01z" ;
}

.lrc-btn:selected Region{
    -fx-background-color: #388bfd;
}

/*循环按钮*/
.loop-btn Region {
    -fx-shape: "M694.4 854.4H195.2l48 44.8c9.6 6.4 16 16 16 28.8-3.2 19.2-19.2 32-38.4 32-9.6 0-22.4-6.4-28.8-12.8l-108.8-96c-12.8-12.8-16-35.2 0-48L192 704c6.4-6.4 19.2-9.6 28.8-9.6 19.2 0 35.2 16 35.2 35.2 0 9.6-6.4 19.2-12.8 25.6l-41.6 38.4h496c112 0 198.4-89.6 198.4-198.4v-86.4c0-19.2 12.8-32 32-32s32 12.8 32 32v86.4c0 140.8-118.4 259.2-265.6 259.2zM329.6 169.6h496l-48-44.8c-9.6-6.4-16-16-16-28.8 3.2-19.2 19.2-32 38.4-32 9.6 0 22.4 6.4 28.8 12.8l108.8 96c12.8 12.8 16 35.2 0 48L832 320c-6.4 6.4-19.2 9.6-28.8 9.6-19.2 0-35.2-16-35.2-35.2 0-9.6 6.4-19.2 12.8-25.6l41.6-38.4H326.4C217.6 233.6 128 323.2 128 435.2v89.6c0 19.2-12.8 32-32 32s-32-12.8-32-32v-86.4C64 288 182.4 169.6 329.6 169.6z";
}
.loop-btn:selected  Region{
    -fx-shape: "M928 476.8c-19.2 0-32 12.8-32 32v86.4c0 108.8-86.4 198.4-198.4 198.4H201.6l41.6-38.4c6.4-6.4 12.8-16 12.8-25.6 0-19.2-16-35.2-35.2-35.2-9.6 0-22.4 3.2-28.8 9.6l-108.8 99.2c-16 12.8-12.8 35.2 0 48l108.8 96c6.4 6.4 19.2 12.8 28.8 12.8 19.2 0 35.2-12.8 38.4-32 0-12.8-6.4-22.4-16-28.8l-48-44.8h499.2c147.2 0 265.6-118.4 265.6-259.2v-86.4c0-19.2-12.8-32-32-32zM96 556.8c19.2 0 32-12.8 32-32v-89.6c0-112 89.6-201.6 198.4-204.8h496l-41.6 38.4c-6.4 6.4-12.8 16-12.8 25.6 0 19.2 16 35.2 35.2 35.2 9.6 0 22.4-3.2 28.8-9.6l105.6-99.2c16-12.8 12.8-35.2 0-48l-108.8-96c-6.4-6.4-19.2-12.8-28.8-12.8-19.2 0-35.2 12.8-38.4 32 0 12.8 6.4 22.4 16 28.8l48 44.8H329.6C182.4 169.6 64 288 64 438.4v86.4c0 19.2 12.8 32 32 32zM544 672V352h-48L416 409.6l16 41.6 60.8-41.6V672z";
}

/*乱序按钮*/
.disorder-btn Region {
    -fx-shape: "M170.666667 365.985185h663.703703c24.651852 0 37.925926-30.340741 20.85926-49.303704l-109.985186-109.985185c-11.377778-11.377778-28.444444-11.377778-39.822222 0-11.377778 11.377778-11.377778 28.444444 0 39.822223l60.681482 60.681481H170.666667c-15.17037 0-28.444444 13.274074-28.444445 28.444444s13.274074 30.340741 28.444445 30.340741zM834.37037 654.222222H170.666667c-15.17037 0-28.444444 13.274074-28.444445 28.444445s13.274074 28.444444 28.444445 28.444444h595.437037l-60.681482 60.681482c-11.377778 11.377778-11.377778 28.444444 0 39.822222 11.377778 11.377778 28.444444 11.377778 39.822222 0l109.985186-109.985185c17.066667-17.066667 3.792593-47.407407-20.85926-47.407408z";
}
.disorder-btn:selected  Region{
    -fx-shape: "M862.260652 315.793165l-64.094263 64.094263c-10.918693 10.918693-10.918693 28.608511 0 39.527204a27.863439 27.863439 0 0 0 19.764731 8.189019 27.861181 27.861181 0 0 0 19.762473-8.189019l111.796939-111.808229a28.073414 28.073414 0 0 0 3.508613-4.271747c0.435754-0.65476 0.736041-1.379512 1.117608-2.074913 0.492199-0.90086 1.038585-1.788173 1.449504-2.729673 0.36802-0.914407 0.571222-1.855907 0.857961-2.797407 0.234811-0.806033 0.546386-1.582714 0.724752-2.41584a28.520457 28.520457 0 0 0 0-10.945786c-0.178366-0.833126-0.492199-1.609807-0.724752-2.41584-0.28674-0.9415-0.489941-1.883-0.857961-2.797407-0.410919-0.968594-0.957305-1.828813-1.449504-2.74322-0.381567-0.681854-0.681854-1.406606-1.117608-2.061366a28.723658 28.723658 0 0 0-3.508613-4.285294l-111.796939-111.796939c-10.918693-10.918693-28.608511-10.918693-39.527204 0-10.918693 10.918693-10.918693 28.608511 0 39.527203l64.094263 64.094263h-139.759722L275.2635 707.125352H91.169731c-15.436539 0-27.951493 12.517211-27.951492 27.95375s12.514953 27.951493 27.951492 27.951493h207.240676l447.235172-447.23743h116.615073zM956.421961 727.190369c-0.270935-0.9415-0.505746-1.885258-0.857962-2.797407-0.410919-0.957305-0.957305-1.831071-1.449504-2.729673-0.381567-0.697658-0.681854-1.420153-1.117608-2.074913a27.883759 27.883759 0 0 0-3.522159-4.285294l-111.783393-111.796939c-10.918693-10.918693-28.608511-10.918693-39.527204 0s-10.918693 28.608511 0 39.527204l64.094263 64.094262h-116.612815L614.074878 575.556908c-10.918693-10.918693-28.608511-10.918693-39.527204 0s-10.918693 28.606253 0 39.527204l147.950999 147.948741h139.759721l-64.094263 64.094263c-10.918693 10.918693-10.918693 28.608511 0 39.527203a27.863439 27.863439 0 0 0 19.764731 8.18902 27.861181 27.861181 0 0 0 19.762473-8.18902l111.783393-111.796939c1.309521-1.295974 2.483574-2.74322 3.522159-4.283036 0.435754-0.657018 0.736041-1.379512 1.117608-2.074913 0.492199-0.90086 1.038585-1.774626 1.449504-2.729673 0.352216-0.914407 0.587027-1.855907 0.857962-2.797407 0.234811-0.806033 0.546386-1.582714 0.724752-2.41584a28.534004 28.534004 0 0 0 0-10.948044c-0.176108-0.835384-0.489941-1.612065-0.724752-2.418098zM91.169731 315.793165h184.093769l131.570702 131.572959c5.459346 5.459346 12.612039 8.18902 19.762473 8.18902s14.303127-2.729673 19.762473-8.18902c10.918693-10.918693 10.918693-28.606253 0-39.527204l-147.950999-147.950998H91.169731c-15.422992 0-27.951493 12.5285-27.951492 27.951492s12.5285 27.95375 27.951492 27.953751z";
}









/*=======================右下角NodesList相关配置=====================================*/
.node-list-top,
.import-folder-btn,
.import-zip-btn,
.trans-btn{
    -fx-pref-width: 40;
    -fx-pref-height: 40;
    -fx-background-radius: 40;
    -fx-background-color: #414954;
    -fx-padding: 10;
    -fx-text-fill: White;
    -fx-font-weight: BOLD;
}

.node-list-top:hover,
.import-folder-btn:hover,
.import-zip-btn:hover,
.trans-btn:hover{
    -fx-opacity: 0.8;
}

.node-list-top StackPane{
    -fx-background-color: white;
}





.trans-btn Region{
    -fx-shape: "M434.808075 633.361826l-12.547756 11.596083-2.072191-176.371588c-0.134053-11.384259-9.400072-20.541808-20.784331-20.541807H340.915825c-11.479426 0-20.785354 9.305928-20.785354 20.785354 0 11.479426 9.305928 20.785354 20.785354 20.785354h37.945142l2.166334 184.459783c0.031722 2.681057 0.56998 5.238294 1.521654 7.580637l-8.707295 8.047264c-8.431003 7.791438-8.949818 20.941919-1.158381 29.372922 7.791438 8.431003 20.941919 8.949818 29.372923 1.158381l60.966415-56.340057c8.431003-7.791438 8.949818-20.941919 1.15838-29.372922-7.791438-8.432026-20.941919-8.950841-29.372922-1.159404zM354.615821 360.093568c6.336299 2.654451 18.924987 11.924563 34.562098 31.33255 7.203038 8.938562 20.288028 10.346628 29.227613 3.144614s10.346628-20.288028 3.144614-29.22659c-20.062901-24.90006-38.291018-38.322741-50.871519-43.592757-10.588128-4.436024-22.767494 0.552584-27.202495 11.140712-4.437047 10.586081 0.551561 22.765447 11.139689 27.201471zM847.919031 365.193716c-2.986002-26.666283-6.022145-44.620154-8.143454-53.971107-8.466819-60.452716-65.554911-118.133301-128.088005-128.407275-4.729712-1.540073-19.76205-4.463653-43.745229-7.284903-38.856905-4.572123-89.455202-7.296159-153.211144-7.296158-63.747756 0-115.314098 2.789527-155.780661 7.465003-24.843778 2.870368-40.726482 5.823624-48.722581 7.961307-59.331175 8.593708-116.235072 65.492489-126.637982 127.702218-2.134612 8.580405-4.987584 24.694376-7.767902 49.361123-4.752224 42.168318-7.5878 96.081097-7.5878 162.916161 0 66.869856 2.526538 116.472479 6.78553 151.502226 2.343367 19.27905 4.841252 31.524931 7.093544 38.562194 10.803022 61.397226 68.350578 117.198001 130.308574 127.146564 5.37951 1.614774 21.207979 4.578263 46.241068 7.452724 40.712156 4.674453 93.165703 7.462957 158.643866 7.462958 65.492489 0 115.928081-2.642171 153.294032-7.082288 21.218212-2.521421 34.811784-5.15643 42.297254-7.306392 61.692961-10.352768 118.238702-67.693616 128.70608-129.784643 1.439789-3.939721 4.31732-18.069505 7.074102-40.868721 4.442163-36.735596 7.087405-85.238166 7.087404-147.085646 0.001023-61.815757-2.93586-114.595739-7.846696-158.445345z m-46.860167 299.771835c-2.428301 20.077227-4.736875 31.416461-6.017028 35.554703-7.895815 45.566711-49.448103 87.344126-91.165144 93.725451l-3.785202 0.898461c-3.715617 1.207499-14.796978 3.489467-35.149475 5.907535-35.368461 4.20271-83.93857 6.746644-147.634136 6.746644-63.709893 0-114.345029-2.69129-153.171236-7.149826-22.689723-2.605332-36.127753-5.121637-41.585034-6.613615-44.942495-7.356534-86.886709-48.465731-93.419483-89.991414l-1.395787-5.110381c0.072655 0.182148-0.298805-1.05605-0.969069-4.018515-1.360995-6.021122-2.777247-14.438822-4.130055-25.564184-4.004189-32.936067-6.43556-80.653763-6.43556-145.713395 0-65.094424 2.741432-117.219491 7.285925-157.544838 2.662637-23.631163 5.245457-37.820298 6.799857-43.738066l0.494255-2.358716c6.638174-42.084407 47.650158-83.320494 89.141049-89.440876 8.360395-2.072191 21.947827-4.598729 44.53215-7.208155 38.580613-4.457513 88.316265-7.14778 150.276308-7.147779 61.951857 0 110.69081 2.624775 147.606507 6.967678 21.480177 2.527561 33.952208 4.952792 38.80881 6.354719 44.717368 7.517192 85.620882 48.845377 91.492601 90.36492a373.127393 373.127393 0 0 1 2.505049 13.417564c1.729384 10.229972 3.472071 22.633441 5.106288 37.225758 4.712316 42.075197 7.548915 93.072583 7.548914 153.107791 0 60.006556-2.540864 106.60271-6.740504 141.328536zM537.502786 449.783107c-18.187185 8.051357-38.983795 14.495103-62.634401 19.084623-13.003126 2.523468-21.498597 15.110109-18.976152 28.113235 2.523468 13.003126 15.110109 21.498597 28.113235 18.976152 38.216317-7.415885 70.799344-19.351705 98.100076-35.091146 27.230124 14.634273 59.696494 25.730983 97.769549 32.639309 13.032802 2.364856 25.515066-6.284111 27.879922-19.316912 2.364856-13.032802-6.284111-25.515066-19.316913-27.879922-23.694608-4.298901-44.524987-10.318999-62.733661-17.818795a210.915266 210.915266 0 0 0 10.114338-10.313883c30.899692-33.759827 43.699181-68.01698 46.205253-92.396178 1.454115-14.14104-9.641572-26.436039-23.858337-26.43604H488.250134c-13.245649 0-23.984203 10.73753-23.984203 23.984203 0 11.877491 8.635664 21.73191 19.968757 23.642419 15.867354 43.725786 53.268098 82.812935 53.268098 82.812935z m43.724763-26.112675c-6.524587-4.877068-12.49352-10.04373-17.912939-15.486685-13.113643-13.169924-22.197514-27.083791-28.034441-40.874861h90.698517c-5.858416 13.074757-14.217788 26.106536-25.542694 38.479306-5.778599 6.312763-12.17425 12.281696-19.208443 17.88224zM668.386457 628.506248h-65.978558v-36.560611h53.534156c13.245649 0 23.984203-10.73753 23.984203-23.984203 0-13.245649-10.73753-23.984203-23.984203-23.984203h-53.534156v-19.564552c0-13.245649-10.73753-23.984203-23.984203-23.984202-13.245649 0-23.984203 10.73753-23.984203 23.984202v19.564552h-49.388752c-13.245649 0-23.984203 10.73753-23.984202 23.984203 0 13.245649 10.73753 23.984203 23.984202 23.984203h49.388752v36.560611h-55.540856c-13.245649 0-23.984203 10.73753-23.984203 23.984202 0 13.245649 10.73753 23.984203 23.984203 23.984203h55.540856v33.548004c0 13.245649 10.73753 23.984203 23.984203 23.984202 13.245649 0 23.984203-10.73753 23.984203-23.984202v-33.548004h65.978558c13.245649 0 23.984203-10.73753 23.984203-23.984203-0.001023-13.245649-10.738554-23.984203-23.984203-23.984202z";
    -fx-background-color:white;
    -fx-pref-width: 20;
    -fx-pref-height: 20;
}
.trans-btn:selected Region{
   -fx-shape: "M387.040237 376.751937c7.203038 8.938562 20.288028 10.346628 29.227613 3.14359 8.939585-7.202015 10.346628-20.288028 3.144614-29.22659-20.062901-24.90006-38.291018-38.322741-50.87152-43.592757-10.588128-4.436024-22.767494 0.552584-27.202494 11.140713-4.435 10.588128 0.552584 22.767494 11.140712 27.202494 6.334253 2.654451 18.923964 11.925587 34.561075 31.33255zM370.54662 704.401647c7.791438 8.431003 20.941919 8.949818 29.372923 1.15838l60.966415-56.340057c8.431003-7.791438 8.949818-20.941919 1.15838-29.372922-7.791438-8.431003-20.941919-8.949818-29.372923-1.15838l-12.547755 11.596082-2.072191-176.371587c-0.134053-11.384259-9.400072-20.541808-20.784331-20.541808h-58.487972c-11.479426 0-20.785354 9.305928-20.785354 20.785354 0 11.479426 9.305928 20.785354 20.785354 20.785354h37.945141l2.166335 184.459784c0.031722 2.681057 0.56998 5.238294 1.521654 7.580637l-8.707295 8.047264c-8.431003 7.790415-8.949818 20.940896-1.158381 29.371899zM705.617332 479.513163c2.364856-13.032802-6.284111-25.515066-19.316912-27.879922-23.694608-4.298901-44.524987-10.318999-62.733661-17.818795a210.915266 210.915266 0 0 0 10.114338-10.313882c30.899692-33.759827 43.699181-68.01698 46.205252-92.396179 1.454115-14.14104-9.641572-26.436039-23.858336-26.436039H486.113475c-13.245649 0-23.984203 10.73753-23.984203 23.984202 0 11.877491 8.635664 21.73191 19.968757 23.642419 5.233177 21.63572 18.744885 48.605924 45.088828 75.061407a204.479706 204.479706 0 0 0 8.178247 7.752552c-18.187185 8.051357-38.983795 14.495103-62.634401 19.084622-13.003126 2.523468-21.498597 15.110109-18.976152 28.113235 2.523468 13.003126 15.110109 21.498597 28.113235 18.976153 38.216317-7.415885 70.799344-19.351705 98.100076-35.091146 27.230124 14.634273 59.696494 25.730983 97.769549 32.639309 13.032802 2.363833 25.515066-6.285134 27.879921-19.317936z m-126.527465-70.515889c-6.524587-4.877068-12.49352-10.04373-17.912939-15.486685-13.113643-13.169924-22.197514-27.083791-28.034441-40.874861h90.698517c-5.858416 13.074757-14.217788 26.106536-25.542695 38.479306-5.777575 6.31174-12.17425 12.281696-19.208442 17.88224zM653.804373 577.271455c13.245649 0 23.984203-10.73753 23.984203-23.984202 0-13.245649-10.73753-23.984203-23.984203-23.984203h-53.534157v-19.564552c0-13.245649-10.73753-23.984203-23.984202-23.984203-13.245649 0-23.984203 10.73753-23.984203 23.984203v19.564552h-49.388752c-13.245649 0-23.984203 10.73753-23.984203 23.984203 0 13.245649 10.73753 23.984203 23.984203 23.984202h49.388752v36.560611h-55.540856c-13.245649 0-23.984203 10.73753-23.984203 23.984203 0 13.245649 10.73753 23.984203 23.984203 23.984203h55.540856v33.548003c0 13.245649 10.73753 23.984203 23.984203 23.984203 13.245649 0 23.984203-10.73753 23.984202-23.984203v-33.548003h25.820011a160.530839 160.530839 0 0 1 38.415861-47.967383h-64.235872v-36.56061h53.534157zM623.518663 804.774481c-29.278778 1.933022-64.500907 3.024887-106.211808 3.024887-63.709893 0-114.345029-2.69129-153.171235-7.149826-22.689723-2.605332-36.127753-5.121637-41.585034-6.613614-44.942495-7.356534-86.886709-48.465731-93.419483-89.991414l-1.395787-5.110381c0.072655 0.182148-0.298805-1.05605-0.969069-4.018516-1.360995-6.021122-2.777247-14.438822-4.130056-25.564184-4.004189-32.936067-6.43556-80.653763-6.435559-145.713395 0-65.094424 2.741432-117.219491 7.285925-157.544837 2.662637-23.631163 5.245457-37.820298 6.799856-43.738066l0.494256-2.358717c6.638174-42.084407 47.650158-83.320494 89.141048-89.440876 8.360395-2.072191 21.947827-4.598729 44.53215-7.208154 38.580613-4.457513 88.316265-7.14778 150.276308-7.14778 61.951857 0 110.69081 2.624775 147.606508 6.967678 21.480177 2.527561 33.952208 4.952792 38.80881 6.354719 44.717368 7.517192 85.620882 48.845377 91.492601 90.36492a373.127393 373.127393 0 0 1 2.505049 13.417564c1.729384 10.229972 3.472071 22.633441 5.106287 37.225758 4.712316 42.075197 7.548915 93.072583 7.548915 153.107791 0 20.608322-0.299828 39.63564-0.863669 57.143351a159.007139 159.007139 0 0 1 47.208091 20.453803c1.05298-23.101091 1.62296-48.910869 1.62296-77.597154 0-61.815757-2.936883-114.595739-7.846696-158.446368-2.986002-26.666283-6.022145-44.620154-8.143454-53.971108-8.466819-60.452716-65.554911-118.133301-128.088005-128.407275-4.729712-1.540073-19.76205-4.463653-43.745229-7.284902-38.856905-4.572123-89.455202-7.296159-153.211144-7.296159-63.747756 0-115.314098 2.789527-155.780661 7.465004-24.843778 2.870368-40.726482 5.823624-48.722581 7.961306-59.331175 8.593708-116.235072 65.492489-126.637982 127.702219-2.134612 8.580405-4.987584 24.694376-7.767902 49.361122-4.752224 42.168318-7.5878 96.081097-7.5878 162.916161 0 66.869856 2.526538 116.472479 6.78553 151.502227 2.343367 19.27905 4.841252 31.524931 7.093544 38.562193 10.803022 61.397226 68.350578 117.198001 130.308574 127.146565 5.37951 1.614774 21.207979 4.578263 46.241068 7.452724 40.712156 4.674453 93.165703 7.462957 158.643866 7.462957 57.395083 0 103.225806-2.029212 138.830651-5.519703a160.276036 160.276036 0 0 1-32.618843-45.47052zM767.826038 607.934764c-70.644826 0-127.913019 57.268194-127.913019 127.91302s57.268194 127.913019 127.913019 127.913019 127.913019-57.268194 127.913019-127.913019-57.268194-127.913019-127.913019-127.91302z m-79.945637 127.91302c0-44.152504 35.793133-79.945637 79.945637-79.945637 13.34184 0 25.921318 3.268433 36.979142 9.048055l-107.876723 107.876724c-5.779622-11.058848-9.048055-23.637303-9.048056-36.979142z m79.945637 79.945636c-13.34184 0-25.921318-3.268433-36.979142-9.048055l107.876724-107.876724c5.779622 11.058848 9.048055 23.637303 9.048055 36.979143 0 44.152504-35.793133 79.945637-79.945637 79.945636z";
}





/*=========================返回按钮=============================*/
.back-btn{
    -fx-pref-width: 25;
    -fx-min-height: 12;
    -fx-pref-height: 12;
}
.back-btn:hover{
    -fx-background-color: transparent;
}
.back-btn Region{
    -fx-shape: "M888.2 286.1L512 662.3 135.8 286.1c-16.4-16.4-43.1-16.4-59.5 0s-16.4 43.1 0 59.5l382.6 382.6c14.2 14.2 33 22 53.1 22s38.9-7.8 53.1-22l382.6-382.6c16.4-16.4 16.4-43.1 0-59.5-16.5-16.4-43.1-16.4-59.5 0z";
    -fx-background-color:white;
}
.back-btn:hover Region{
    -fx-background-color:#388bfd;
}