/*----------------------歌词悬浮窗-----------------------------*/
.dashboard-lrc-dialog{
    -fx-background-color: transparent;
}

.lrc-lock-btn{
    -fx-pref-width: 35;
    -fx-pref-height: 35;
    -fx-max-width: 35;
    -fx-max-height: 35;
    -fx-padding: 0;
    -fx-background-color:#2e2e2e40;
    -fx-background-radius: 35;
    -fx-alignment: center;
}
.lrc-lock-btn:hover
{
    -fx-background-color:#2e2e2e;
}
.lrc-lock-btn Region{
    -fx-background-color: white;
    -fx-pref-width: 16;
    -fx-pref-height: 16;
    -fx-max-width: 16;
    -fx-max-height: 16;
    -fx-shape: "M512.804571 73.142857a207.238095 207.238095 0 0 1 207.238096 207.238095l-0.024381 60.952381H828.952381a73.142857 73.142857 0 0 1 73.142857 73.142857v438.857143a73.142857 73.142857 0 0 1-73.142857 73.142857H195.047619a73.142857 73.142857 0 0 1-73.142857-73.142857V414.47619a73.142857 73.142857 0 0 1 73.142857-73.142857h110.494476v-60.952381a207.238095 207.238095 0 0 1 207.238095-207.238095zM828.952381 414.47619H195.047619v438.857143h633.904762V414.47619z m-273.383619 121.904762v195.047619h-73.142857v-195.047619h73.142857zM512.804571 146.285714a134.095238 134.095238 0 0 0-134.095238 134.095238V341.333333h268.190477v-60.952381a134.095238 134.095238 0 0 0-134.095239-134.095238z";

}
.lrc-lock-btn:selected Region{
    -fx-shape: "M910.222222 796.444444a170.666667 170.666667 0 0 1-170.666666 170.666667H284.444444a170.666667 170.666667 0 0 1-170.666666-170.666667v-142.222222c0-5.603556 0.796444-11.008 1.308444-16.469333A57.201778 57.201778 0 0 1 113.777778 625.777778v-113.777778a56.888889 56.888889 0 0 1 56.888889-56.888889h56.888889v-85.333333h1.422222c-0.910222-9.358222-1.422222-18.830222-1.422222-28.444445C227.555556 184.234667 354.901333 56.888889 512 56.888889s284.444444 127.345778 284.444444 284.444444c0 9.614222-0.512 19.086222-1.422222 28.444445h-115.228444c1.564444-9.301333 2.872889-18.688 2.872889-28.444445a170.666667 170.666667 0 1 0-341.333334 0c0 9.756444 1.308444 19.143111 2.872889 28.444445H341.333333v85.333333h512a56.888889 56.888889 0 0 1 56.888889 56.888889v113.777778c0 4.124444-0.483556 8.106667-1.308444 11.975111 0.512 5.461333 1.308444 10.865778 1.308444 16.469333v142.222222z m-398.222222-170.666666a56.689778 56.689778 0 1 0-27.022222 106.666666c-0.597333 2.332444-1.422222 4.579556-1.422222 7.111112v56.888888a28.444444 28.444444 0 0 0 56.888888 0v-56.888888c0-2.531556-0.824889-4.778667-1.422222-7.111112A56.689778 56.689778 0 0 0 512 625.777778zM910.222222 796.444444a170.666667 170.666667 0 0 1-170.666666 170.666667H284.444444a170.666667 170.666667 0 0 1-170.666666-170.666667v-142.222222c0-5.603556 0.796444-11.008 1.308444-16.469333A57.201778 57.201778 0 0 1 113.777778 625.777778v-113.777778a56.888889 56.888889 0 0 1 56.888889-56.888889h56.888889v-85.333333h1.422222c-0.910222-9.358222-1.422222-18.830222-1.422222-28.444445C227.555556 184.234667 354.901333 56.888889 512 56.888889s284.444444 127.345778 284.444444 284.444444c0 9.614222-0.512 19.086222-1.422222 28.444445h-115.228444c1.564444-9.301333 2.872889-18.688 2.872889-28.444445a170.666667 170.666667 0 1 0-341.333334 0c0 9.756444 1.308444 19.143111 2.872889 28.444445H341.333333v85.333333h512a56.888889 56.888889 0 0 1 56.888889 56.888889v113.777778c0 4.124444-0.483556 8.106667-1.308444 11.975111 0.512 5.461333 1.308444 10.865778 1.308444 16.469333v142.222222z m-398.222222-170.666666a56.689778 56.689778 0 1 0-27.022222 106.666666c-0.597333 2.332444-1.422222 4.579556-1.422222 7.111112v56.888888a28.444444 28.444444 0 0 0 56.888888 0v-56.888888c0-2.531556-0.824889-4.778667-1.422222-7.111112A56.689778 56.689778 0 0 0 512 625.777778z";
    -fx-background-color: #1ecc94;
}
